<div class="container">
			<div id="footer-info" class="inner">
				&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
				<a href="https://github.com/jodumont/hexo-theme-bootstrap4" target="_blank">Bootstrap4</a><br>
				Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
			</div>
		</div>